# VerificationResult

## Enum Variants

| Name | Value |
|---- | -----|
| Match | match |
| NoMatch | no-match |
| CloseMatch | close-match |
| NotAvailable | not-available |


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


